<h2>All books</h2>

<div id="books">
  <% if books.any? %>
    <% books.each do |book| %>
      <div class="book">
        <p>name: <%= book.name %></p>
        <p>price: <%= book.price %></p>
        <p>code: <%= book.code %></p>
        <p>author name: <%= book.author.name %></p>
      </div>
    <% end %>
  <% else %>
    <p class="placeholder">There are no books yet.</p>
  <% end %>
</div>
<br><br>
<%= link_to 'Add new book', routes.new_book_path %>
